<?xml version="1.0" encoding="utf-8"?>
<toc>
   <tocitem target="index.html">Analog Devices, Inc High-Speed Converter Toolbox
{%- for page in pages %}
      <tocitem target="{{ page }}/index.html">{{ page|capitalize }}</tocitem>
{%- endfor %}
      <tocitem target="models/index.html">Behavioral Models
          <tocitem target="models/ad9081/top_level.tex/index.html">AD9081: MxFE
              <tocitem target="models/ad9081/adc.tex/index.html">ADC</tocitem>
              <tocitem target="models/ad9081/dac.tex/index.html">DAC</tocitem>
              <tocitem target="models/ad9081/ddc2.tex/index.html">DDC</tocitem>
              <tocitem target="models/ad9081/duc.tex/index.html">DUC</tocitem>
              <tocitem target="models/ad9081/pfilt.tex/index.html">PFILT</tocitem>
         </tocitem>
     </tocitem>
      <tocitem target="objects/index.html">Hardware Interface APIs
{%- for obj in devices %}
          <tocitem target="sysobjects/{{ obj }}/index.html">{{ obj }}</tocitem>
{%- endfor %}
       </tocitem>
   </tocitem>
</toc>
