site_name: Analog Devices, Inc. High-Speed Converter Toolbox

theme: 
  logo: assets/matlab_white_icon.svg
  name: material
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

nav:
 - Overview: index.md
 - Installation: install.md
 - Behavioral Models:
    - About: models.md
    - Component Models:
       - AD9081:
          - Overview: models/ad9081/top_level.tex.md
          - ADC: models/ad9081/adc.tex.md
          - DAC: models/ad9081/dac.tex.md
          - DDC: models/ad9081/ddc2.tex.md
          - DUC: models/ad9081/duc.tex.md
          - PFILT: models/ad9081/pfilt.tex.md
 - Data Streaming: streaming.md
 - Device Specific Features:
    - AD9081: ad9081.md
 - HDL Targeting: targeting.md
 - Examples: examples.md
 - Support: support.md
{%- if matlab %}
 - Hardware Interface APIs: objects.md
{%- endif %}
 - Reference API:
    - HDL Reference Designs:
{%- for design in designs %}
       - {{ design }}: {{ designs[design] }}
{%- endfor %}
    - Device Interfaces:
{%- for dev in devices %}
       - {{ dev }}: {{ devices[dev] }}
{%- endfor %}


extra_css:
   - stylesheets/style.css
   - stylesheets/rd_style.css
{%- if matlab %}
   - stylesheets/ml_style.css
{%- endif %}

extra_javascript:
   - js/sys_objects.js

plugins:
    - search
    - awesome-pages
    - mermaid2
    - inline-svg

markdown_extensions:
    - attr_list
    - md_in_html
    - admonition
    - pymdownx.details
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences:
        # make exceptions to highlighting of code:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:mermaid2.fence_mermaid